<h1>就業実績一覧</h1>

<% unless @worklogs.empty? %>
  <p class="visible-lg"><%= @worklogs[0].dept.name %>   <%= @worklogs[0].emp.name %></p>
<% end %>
<div id="chart_div" class="container-fluid" style="border:1px solid gray"></div>
<br />
<table>
  <thead>
    <tr>
      <th width="60" >日付</th>
      <th width="60" >休日</th>
      <th width="60" >勤務</th>
      <th width="60" >始業</th>
      <th width="60" >終業</th>
      <th width="40" >休憩</th>
      <th width="80" >アラーム</th>
      <th width="120" >備考</th>
    </tr>
  </thead>

  <tbody>
    <% @worklogs.each do |worklog| %>
      <tr>
        <td><%= worklog.workday.strftime("%m/%d")  %></td>
        <td><%= worklog.holidaytype.name %></td>
        <td><%= worklog.worktype.name %></td>
        <td><%= worklog.wk_start.strftime("%H:%M")  %></td>
        <td><%= worklog.wk_end.strftime("%H:%M")  %></td>
        <td align=right ><%= worklog.rest %></td>
        <td align=center >
          <% if worklog.over_work_in_day? %>
            <font color="#ff0000">10時間超</font>
          <% end %>
        </td>
        <td class="visible-lg"><%= worklog.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!------------------------------------------------------------------------>
<!-- AJAX API のロード -->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

// Visualization API とライングラフ用のパッケージのロード
google.load("visualization", "1", {packages:["corechart"]});

// Google Visualization API ロード時のコールバック関数の設定
google.setOnLoadCallback(drawChart);

// グラフ作成用のコールバック関数
function drawChart() {

	// データテーブルの作成
	var dataTable = new google.visualization.DataTable();

  dataTable.addColumn('number', '日');
  dataTable.addColumn('number', '<警戒>');
  dataTable.addColumn('number', '<注意>');
  dataTable.addColumn('number', gon.emp_name);

  dataTable.addRows(gon.graph_data)

	// グラフのオプションを設定
	var options = { title: '超過時間の状況', hAxis: { gridlines: {count: 30}}, colors: ['red', 'yellow', 'blue', 'green', 'yellow', 'gray'] };
    
	// LineChart のオブジェクトの作成
	var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

	// データテーブルとオプションを渡して、グラフを描画
	chart.draw(dataTable, options);

}
</script>