<div class="visible-lg">
  <h1>メインメニュー</h1>
  <br>
  <h3 class="lead" >業務表</h3>
  <%= form_tag('/menus/menu_selected') do %>
    対象となる年月を選んでください
    <%= number_field_tag('year', Date.today.year, {:min=>2010, :max=>2020, :align=>"right"} ) %>年
    <%= number_field_tag('month', Date.today.month, {:min=>1, :max=>12}) %>月
    <br>
    <br>
    <%= submit_tag 'まとめ登録', :class=>"btn btn-default btn-lg" %>
  <% end %>
  <br>
</div>
<div>
  <p>
    <%= link_to 'ワンクリック登録', '/worklogs/edit_today', :class => 'btn btn-primary btn-lg' %>
  </p>
</div>
  <br>
  <br>
<!-- if current_user.emp.isadmin -->
<div>
  <h3 class="lead">組織の状況</h3>
  <div class="bs-callout bs-callout-danger">
    <p><%= link_to 'メンバー一覧',   '/index_members',                    :class=>'btn btn-link' %></p>
    <p><%= link_to '昨日の状況',     '/worklogs/oneday/yesterday',        :class=>'btn btn-link' %></p>
    <p><%= link_to '今月の状況',     'worklogs/all_member_one_month',     :class=>'btn btn-link' %></p>
  </div>
</div>
<!-- end -->

<% if current_user.sysadmin %>
<div >
  <h3 class="lead">マスター管理</h3>
  <div class="bs-callout bs-callout-danger">
    <p><%= link_to '組織',     depts_path,        :class=>'btn btn-link' %></p>
  </div>
  <p><%= link_to '社員',     emps_path,         :class=>'btn btn-link' %></p>
  <p><%= link_to '勤務種類', worktypes_path,    :class=>'btn btn-link' %></p>
  <p><%= link_to '休日種類', holidaytypes_path, :class=>'btn btn-link' %></p>
  <p><%= link_to '祝日登録', holidays_path,     :class=>'btn btn-link' %></p>
  <br>
</div>
<% end %>