<h1>メインメニュー</h1>
<br>
<h3>業務</h3>
<%= form_tag('/menus/menu_selected') do %>
対象となる年月を選んでください
<%= number_field_tag('year', Date.today.year, {:min=>2010, :max=>2020, :align=>"right"} ) %>年
<%= number_field_tag('month', Date.today.month, {:min=>1, :max=>12}) %>月
<br>
<br>
<%= radio_button_tag 'selected', 'edit_worklogs' %>就業時間を入力する
<br>
<br>
<%= submit_tag('業務画面へ') %>
<% end %>
<br>

 <h3>マスター管理</h3>
<p><%= link_to '組織', depts_path %></p>
<p><%= link_to '社員', emps_path %></p>
<p><%= link_to '勤務種類', worktypes_path %></p>
<p><%= link_to '休日種類', holidaytypes_path %></p>
<p><%= link_to '祝日登録', holidays_path %></p>
<br>
