<h1>Listing holidaytypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holidaytypes.each do |holidaytype| %>
      <tr>
        <td><%= holidaytype.name %></td>
        <td><%= link_to 'Show', holidaytype %></td>
        <td><%= link_to 'Edit', edit_holidaytype_path(holidaytype) %></td>
        <td><%= link_to 'Destroy', holidaytype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holidaytype', new_holidaytype_path %>
