<h1>組織マスタ</h1>

<table>
  <thead>
    <tr>
      <th width="100" >組織コード</th>
      <th width="400" >組織名称</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depts.each do |dept| %>
      <tr>
        <td><%= dept.code %></td>
        <td><%= dept.name %></td>
        <td><%= link_to 'Show', dept %></td>
        <td><%= link_to 'Edit', edit_dept_path(dept) %></td>
        <td><%= link_to 'Destroy', dept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '新規登録', new_dept_path %>
<br>
<hr>
<%= form_tag 'depts/upload', :multipart => true do %>
  組織一括登録:（*.csv）
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？" %>
<% end %>


