<%- model_class = Emp -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:deptname) %></th>
      <th><%= model_class.human_attribute_name(:isadmin) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @emps.each do |emp| %>
      <tr>
        <td><%= link_to emp.id, emp_path(emp) %></td>
        <td><%= emp.code %></td>
        <td><%= emp.name %></td>
        <td><%= emp.deptname %></td>
        <td align="center" ><%= check_box '', '', {:checked => emp.isadmin, :disabled => true} %></td>
        <td><%=l emp.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_emp_path(emp), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      emp_path(emp),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_emp_path,
            :class => 'btn btn-primary' %>

<br>
<hr>
<%= form_tag 'emps/upload', :multipart => true do %>
  従業員一括登録:（*.csv）
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？", :class => 'btn btn-warning btn-xs' %>
<% end %>

