<h1>従業員マスタ</h1>

<table>
  <thead>
    <tr>
      <th width="100" >社員コード</th>
      <th width="160" >社員氏名</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @emps.each do |emp| %>
      <tr>
        <td><%= emp.code %></td>
        <td><%= emp.name %></td>
        <td><%= link_to '詳細', emp %></td>
        <td><%= link_to '編集', edit_emp_path(emp) %></td>
        <td><%= link_to '削除', emp, method: :delete, data: { confirm: '削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '新規登録', new_emp_path %>
<br>
<hr>
<%= form_tag 'emps/upload', :multipart => true do %>
  従業員一括登録:（*.csv）
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？" %>
<% end %>


